footer {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f9f9f9;

  & .footer-logo {
    display: flex;
    flex-direction: row;
    padding: 3.2rem 2.6rem;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;

    font-size: 2rem;

    & img {
      width: 29rem;
    }
  }

  & .footer-container {
    width: 88vw;
    padding: 55px 0 0 0;
  }

  & .footer-info {
    flex: 1;
    padding: 0 26px 36px;
    font-size: 1.9rem;
    & h1 {
      color: #52bf4d;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    & h4 {
      color: #000;
      font-size: 20px;
      font-weight: '700';
      margin-bottom: 10px;
    }
  }

  & .footer-contact {
    display: flex;
    justify-content: space-between;
    padding: 48px 26px;
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: 700;
    &-links {
      &__list {
        @include svg($width: 10px, $color: #8b8b8b, $margin-right: 10px);
        margin-bottom: 10px;
        white-space: nowrap;
        align-items: center;
        & li {
          display: flex;
          align-items: center;
        }
      }

      &-title {
        color: #52bf4d;
        font-size: 20px;
        font-weight: bolder;
        line-height: 50px;
      }

      &-social {
        @include svg(
          $width: 45px,
          $height: 45px,
          $color: #000,
          $margin-right: 10px
        );
      }

      &-secure {
        @include svg($width: 180px, $height: 50px, $color: #023680);
      }
    }

    &-andrress {
      max-width: 500px;
    }
  }

  & .footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include svg($color: #00b73c, $width: 180px, $margin: 30px 10px);

    &-copyright {
      background: #f2f2f2;
      display: flex;
      justify-content: space-between;
      padding: 3.4rem 10rem;
      font-size: 14px;
      color: #8b8b8b;

      width: 100vw;

      &-payments {
        display: flex;

        & img {
          width: 52px;
        }
      }
    }

    &-logos {
      display: flex;
      justify-content: center;
    }
  }

  & .footer-links__list-item {
    margin-right: 20px;
  }
}
