<footer>
  <article class="footer-container">
    <section class="footer-info">
      <h1>LOREN IPSUM IS SIMPL</h1>

      <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>

      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, quas! Id
        quia ad repudiandae nam praesentium ratione eos odit deleniti.
      </p>
    </section>
    <section class="footer-logo">
      <img src="/arquivos/luis-sousa-logo-eplus.png" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam hic.
      </p>
    </section>
    <section class="footer-contact">
      <div class="footer-contact-andrress">
        <p>
          Razão Social: Agência e-Plus ltda | CNPJ - 18.106.304/0001-01 |
          Endereço: Borges Lagoa, 564, 13 andar CEP: 04038-000 | Vila Mariana -
          São Paulo
        </p>
        <p>
          Horário de atendimento da loja: 09h00 às 18h00 Segunda a sexta-feira
        </p>
      </div>

      <section class="footer-contact-links">
        <h3 class="footer-contact-links-title">e-Plus</h3>
        <ul class="footer-contact-links__list">
          <li><vtex.cmc:LuisSousaSetaDir /><a href="">Quem somos</a></li>
          <li>
            <vtex.cmc:LuisSousaSetaDir /><a href="">Política de Privacidade</a>
          </li>
        </ul>
        <h3 class="footer-contact-links-title">Junte-se à nós</h3>
        <section class="footer-contact-links-social">
          <vtex.cmc:LuisSousaFacebook />
          <vtex.cmc:LuisSousaInstagram />
          <vtex.cmc:LuisSousaYoutube />
        </section>
      </section>
      <section class="footer-contact-links"></section>
      <section class="footer-contact-links">
        <h3 class="footer-contact-links-title">Dúvidas</h3>
        <ul class="footer-contact-links__list">
          <li><vtex.cmc:LuisSousaSetaDir /><a href="">Minha Conta</a></li>
          <li><vtex.cmc:LuisSousaSetaDir /><a href="">Meus Pedidos</a></li>
          <li><vtex.cmc:LuisSousaSetaDir /><a href="">Fale Conosco</a></li>
        </ul>
      </section>
      <section class="footer-contact-links">
        <h3 class="footer-contact-links-title">Segurança</h3>
        <section class="footer-contact-links-secure">
          <img src="/arquivos/luis-sousa-vtex-certified.png" alt="" />
          <vtex.cmc:LuisSousaLetsEncript />
        </section>
      </section>
    </section>
  </article>
  <article class="footer-copyright">
    <section class="footer-copyright-copyright">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto
        eligendi alias quo a laborum incidunt repudiandae ut.
      </p>
      <ul class="footer-copyright-copyright-payments">
        <li class="footer-links__list-item">
          <img src="/arquivos/luis-sousa-tc-pgto-american-express.png" alt="" />
        </li>
        <li class="footer-links__list-item">
          <img src="/arquivos/luis-sousa-tc-pgto-aura.png" alt="" />
        </li>
        <li class="footer-links__list-item">
          <img src="/arquivos/luis-sousa-tc-pgto-boleto.png" alt="" />
        </li>
        <li class="footer-links__list-item">
          <img src="/arquivos/luis-sousa-tc-pgto-dinners-club.png" alt="" />
        </li>
        <li class="footer-links__list-item">
          <img src="/arquivos/luis-sousa-tc-pgto-elo.png" alt="" />
        </li>
        <li class="footer-links__list-item">
          <img src="/arquivos/luis-sousa-tc-pgto-hipercard.png" alt="" />
        </li>
        <li class="footer-links__list-item">
          <img src="/arquivos/luis-sousa-tc-pgto-master-card.png" alt="" />
        </li>
        <li class="footer-links__list-item">
          <img src="/arquivos/luis-sousa-tc-pgto-visa.png" alt="" />
        </li>
      </ul>
    </section>
    <section class="footer-copyright-logos">
      <vtex.cmc:LuisSousaEPlusLogo />
      <vtex.cmc:LuisSousaVtexLogo />
    </section>
  </article>
</footer>
