<header>
  <article class="header__top-bar">
    <section class="header__contact">
      <p class="header__contact-item">
        Atendimento ao cliente: <vtex.cmc:LuisSousaINFOPhone />
      </p>
      <p class="header__contact-item">
        Whatsapp:
        <a href="https://api.whatsapp.com/send?phone=">
          <vtex.cmc:LuisSousaINFOWhatsapp />
        </a>
      </p>
    </section>
    <a href="" class="header__my-order">
      <i class="fas fa-bars"></i>
      <p>Meus <b>Pedidos</b></p>
    </a>
  </article>
  <article class="header__main">
    <div class="header__main__logo">
      <img src="/arquivos/luis-sousa-logo-eplus.png" alt="" />
    </div>
    <div class="header__main__search">
      <input
        class="header__main__search-bar"
        type="search"
        placeholder="Digite Aqui"
      />
      <vtex.cmc:LuisSousaLupa />
    </div>

    <a href="" class="header__main__login">
      <vtex.cmc:LuisSousaLogin />
      login/cadastre-se
    </a>
    <a href="" class="header__main__cart">
      <vtex.cmc:LuisSousaCarrinhoDois /> 1 Item(S)
    </a>
  </article>
  <nav class="header__nav-bar">
    <ul class="header__nav-bar-list"></ul>
  </nav>
</header>
